@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700");

body {
  font-family: "Roboto", sans-serif;
  color: #1a1919;
}

/*----------------------------------------------------Special padding, margin, text*/

.uppercase {
  text-transform: uppercase;
}

/*----------------------------------------------------Navbar*/
.navbar-text {
  display: block;
  padding: 0;
  margin-top: 10px;
}

.navbar {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  border: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #1a1919;
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar .navbar-brand {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 140%;
  margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: #1a1919;
  letter-spacing: 2px;
}

.nav-item-active{
    border-bottom: 1px solid #1a1919;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-item:hover {
  border-bottom: 1px solid #1a1919;
  font-weight: bold;
}

.navbar .nav-item {
  margin-right: 20px;
  font-weight: 200;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
}


/*----------------------------------------------------Jumbotron*/
.jumbotron {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: transparent;
}


/*----------------------------------------------------cards*/
.card {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  border: none;
  color: #1a1919;
}

.profile-img1 {
  height: 20vw;
  width: 20vw;
  float: right;
}

.card-img {
  max-width: 100%;
  border-radius: 5%;
}

.card-body {
  margin-top: 20px;
}

.card-img-top {
  max-width: 100%;
  height: 20vw;
  object-fit: cover;
}

.card-title {
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
}

.display-12 {
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

h5 {
  margin-bottom: 20px;
  font-weight: 200;
  letter-spacing: 1px;
}

.card-text {
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: justify;
  margin: 0;
}

.pro-xp-dl-link {
  font-size: 17px;
  display: block;
}

.xp-list {
  text-align: center;
  list-style: none;
  margin-top: 40px;
}

.date {
  font-weight: 200;
}
/*----------------------------------------------------Footer*/
#footer-content {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.sub-category {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 110%;
  color: #1a1919;
}

.inline-block {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

.cv-word {
  font-size: 26px;
  margin-left: 10px;
  display: inline-block;
  color: #1a1919;
}

.cv-word:hover {
  color: rgba(32, 34, 32, 0.6);
}

.social {
  padding-bottom: 10px;
  margin-top: 10px;
}

.social li a i {
  color: #1a1919;
  font-size: 30px;
  margin: 15px 10px 10px 0;
}

.social li a i:hover {
  color: rgba(32, 34, 32, 0.6);
}


/*----------------------------------------------------About Me*/
.aboutme-icon {
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aboutme-h5 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

.about-me-p {
  font-weight: 100;
  letter-spacing: 1px;
}

.my-4 {
  border-color: #1a1919;
  width: 40px;
  height: 5px;
  border: 0;
  background-color: #1a1919;
}


/*----------------------------------------------------contact*/
.h5-contact {
  font-family: "Lato", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.center-form {
  padding-top: 10px;
  padding-bottom: 60px;
  margin: 0 auto;
  max-width: 70%;
}

.btn {
  background-color: #1a1919;
  border: #1a1919;
  color: #fafafa;
  display: block;
  margin: 0 auto;
}

.btn-secondary{
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: rgba(32, 34, 32, 0.6);
  border: rgba(32, 34, 32, 0.6);
  color: #fafafa;
}

.btn-secondary:focus {
  background-color: rgba(32, 34, 32, 0.6);
  border: rgba(32, 34, 32, 0.6);
  color: #fafafa;
  box-shadow: 0;
}

/*----------------------------------------------------Timeline 1*/
.main-timeline4 {
  overflow: hidden;
  position: relative;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.main-timeline4:before {
  content: "";
  width: 5px;
  height: 70%;
  background: #333;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.main-timeline4 .timeline-content:before,
.main-timeline4 .timeline:before {
  top: 50%;
  transform: translateY(-50%);
  content: "";
}
.main-timeline4 .timeline {
  width: 50%;
  padding-left: 100px;
  float: right;
  position: relative;
}
.main-timeline4 .timeline:before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 5px solid #333;
  position: absolute;
  left: -10px;
}
.main-timeline4 .timeline-content {
  display: block;
  padding-left: 150px;
  position: relative;
}
.main-timeline4 .timeline-content:before {
  width: 90px;
  height: 10px;
  border-top: 7px dotted #333;
  position: absolute;
  left: -92px;
}
.main-timeline4 .year {
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 100px;
  border-radius: 50%;
  border: 10px solid #f54957;
  font-size: 20px;
  color: #f54957;
  text-align: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}
.main-timeline4 .year:before {
  content: "";
  border-left: 20px solid #f54957;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: -13px;
  right: 0;
  transform: rotate(45deg);
}
.main-timeline4 .inner-content {
  padding: 20px 0;
  font-weight: 200;
  letter-spacing: 1px;
}
.main-timeline4 .title {
  font-size: 24px;
  font-weight: 400;
  color: #f54957b7;
  text-transform: uppercase;
  margin: 0 0 5px;
}
.main-timeline4 .description {
  font-size: 14px;
  color: #6f6f6f;
  margin: 0 0 5px;
}
.main-timeline4 .timeline:nth-child(2n) {
  padding: 0 100px 0 0;
}
.main-timeline4 .timeline:nth-child(2n) .timeline-content:before,
.main-timeline4 .timeline:nth-child(2n) .year,
.main-timeline4 .timeline:nth-child(2n):before {
  left: auto;
  right: -10px;
}
.main-timeline4 .timeline:nth-child(2n) .timeline-content {
  padding: 0 150px 0 0;
}
.main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
  right: -92px;
}
.main-timeline4 .timeline:nth-child(2n) .year {
  right: 0;
}
.main-timeline4 .timeline:nth-child(2n) .year:before {
  right: auto;
  left: 0;
  border-left: none;
  border-right: 20px solid #f54957;
  transform: rotate(-45deg);
}
.main-timeline4 .timeline:nth-child(2) {
  margin-top: 110px;
}
.main-timeline4 .timeline:nth-child(odd) {
  margin: -110px 0 0;
}
.main-timeline4 .timeline:nth-child(even) {
  margin-bottom: 80px;
}
.main-timeline4 .timeline:first-child,
.main-timeline4 .timeline:last-child:nth-child(even) {
  margin: 0;
}
.main-timeline4 .timeline:nth-child(2n) .year {
  border-color: #1ebad0;
  color: #1ebad0;
}
.main-timeline4 .timeline:nth-child(2) .year:before {
  border-right-color: #1ebad0;
}
.main-timeline4 .timeline:nth-child(2n) .title {
  color: #1ebad0;
}
.main-timeline4 .timeline:nth-child(3n) .year {
  border-color: #7cba01;
  color: #7cba01;
}
.main-timeline4 .timeline:nth-child(3) .year:before {
  border-left-color: #7cba01;
}
.main-timeline4 .timeline:nth-child(3n) .title {
  color: #7cba01;
}
.main-timeline4 .timeline:nth-child(4n) .year {
  border-color: #f8781f;
  color: #f8781f;
}
.main-timeline4 .timeline:nth-child(4) .year:before {
  border-right-color: #f8781f;
}
.main-timeline4 .timeline:nth-child(4n) .title {
  color: #f8781f;
}

/*----------------------------------------------------Timeline 2*/
ul.timeline2 {
  list-style-type: none;
  position: relative;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 100;
}
ul.timeline2:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline2 > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline2 > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
/*----------------------------------------------------Media*/
@media  screen and (max-width: 540px) {
 .navbar-light .navbar-nav .nav-item:hover {
    border-bottom: 0;
  }
 .nav-item-active{
    border-bottom: 0;
}
  img#noshow {
    display: none;
  }
  .profile-img1 {
    height: 30vw;
    width: 40vw;
  }

  .display-12 {
    text-align: center;
  }
}

@media screen and (max-width: 940px){
.navbar-nav {
    line-height: 10px;
}
}

@media only screen and (max-width: 1200px) {
  .profile-img1 {
    height: 30vw;
    width: 40vw;
  }
  .display-12 {
    text-align: center;
  }
}

/*----------------------------------------------------Media Timeline*/
@media only screen and (max-width: 1200px) {
  .main-timeline4 .year {
    top: 50%;
    transform: translateY(-50%);
  }
}
@media only screen and (max-width: 990px) {
  .main-timeline4 .timeline {
    padding-left: 75px;
  }
  .main-timeline4 .timeline:nth-child(2n) {
    padding: 0 75px 0 0;
  }
  .main-timeline4 .timeline-content {
    padding-left: 130px;
  }
  .main-timeline4 .timeline:nth-child(2n) .timeline-content {
    padding: 0 130px 0 0;
  }
  .main-timeline4 .timeline-content:before {
    width: 68px;
    left: -68px;
  }
  .main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
    right: -68px;
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline4 {
    overflow: visible;
  }
  .main-timeline4:before {
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(0);
  }
  .main-timeline4 .timeline:before,
  .main-timeline4 .timeline:nth-child(2n):before {
    top: 60px;
    left: -9px;
    transform: translateX(0);
  }
  .main-timeline4 .timeline,
  .main-timeline4 .timeline:nth-child(even),
  .main-timeline4 .timeline:nth-child(odd) {
    width: 100%;
    float: none;
    text-align: center;
    padding: 0;
    margin: 0 0 10px;
  }
  .main-timeline4 .timeline-content,
  .main-timeline4 .timeline:nth-child(2n) .timeline-content {
    padding: 0;
  }
  .main-timeline4 .timeline-content:before,
  .main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
    display: none;
  }
  .main-timeline4 .timeline:nth-child(2n) .year,
  .main-timeline4 .year {
    position: relative;
    transform: translateY(0);
  }
  .main-timeline4 .timeline:nth-child(2n) .year:before,
  .main-timeline4 .year:before {
    border: none;
    border-right: 20px solid #f54957;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 50%;
    left: -23px;
    bottom: auto;
    right: auto;
    transform: rotate(0);
  }
  .main-timeline4 .timeline:nth-child(2n) .year:before {
    border-right-color: #1ebad0;
  }
  .main-timeline4 .timeline:nth-child(3n) .year:before {
    border-right-color: #7cba01;
  }
  .main-timeline4 .timeline:nth-child(4n) .year:before {
    border-right-color: #f8781f;
  }
  .main-timeline4 .inner-content {
    padding: 10px;
  }
}
