@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700");

body {
  font-family: "Roboto", sans-serif;
}

/*----------------------------------------------------Special padding, margin, text*/

.uppercase {
  text-transform: uppercase;
}

/*----------------------------------------------------Header Navbar*/
.navbar-text {
  display: block;
  padding: 0;
  margin-top: 10px;
}

.navbar {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  border: 0;
  font-size: 16px;
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar .navbar-brand {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 140%;
  font-family: "Lato", sans-serif;
  color: #1a1919;
  margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: #1a1919;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 1px solid #1a1919;
}

.navbar .nav-item {
  margin-right: 20px;
  font-weight: 300;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
}

.navbar-nav .dropdown-menu {
  font-size: 15px;
  padding: 0px;
}

.dropdown-menu a:hover {
  background-color: rgba(247, 243, 18, 0.88);
  color: #1a1919;
  margin-bottom: 10px;
}

/*----------------------------------------------------Jumbotron and card index.html*/
.jumbotron {
  font-family: "Lato", sans-serif;
}

.jumbotron-fluid {
  margin: 0;
  background-color: transparent;
}

.card-img {
  max-width: 100%;
  border-radius: 0;
}

.display-4 {
  font-weight: 300;
}

h5 {
  margin-top: 20px;
  font-weight: 200;
  letter-spacing: 1px;
}

.card-text {
  margin-top: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 0;
}

/*----------------------------------------------------cards*/

.card {
    font-family: "Lato", sans-serif;
    border: none;
    margin-top: 5px;
}

.card-text{
    margin-bottom: 0;
}

.card-img-top{
    border-radius: 0;
    height: 20vw;
    object-fit: cover;
}

.card-title {
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
}

.pro-xp-dl-link{
    font-size: 17px;
    display: block;
}

.xp-list{
    text-align: center;
    list-style: none;
    margin-top: 40px; 
}

.date{
    font-weight: 200;
}
/*----------------------------------------------------About Me*/
.aboutme-icon{
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutme-h5{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.about-me-p{
    font-weight: 100;
    letter-spacing: 1px;
}
/*----------------------------------------------------Footer*/
footer {
  bottom: 0;
  min-height: 40px;
  margin: 0;
  color: #1a1919;
  border-top: 0.5px solid;
  border-top-color: #1a1919;
}

#footer-content {
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 400;
}

.container .dl-cv {
  margin-top: 10px;
  width: auto;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.inline-block {
  margin-top: 10px;
  font-weight: 300;
}

.cv-word {
  font-size: 26px;
  margin-left: 10px;
  display: inline-block;
  color: #1a1919;
}

.cv-word:hover {
  color: rgba(247, 243, 18, 0.88);
}

.social {
  padding-bottom: 10px;
}

.social li a i {
  color: #1a1919;
  font-size: 30px;
  margin: 15px 10px 10px 0;
}

.social li a i:hover {
  color: rgba(247, 243, 18, 0.88);
}




/*----------------------------------------------------Media*/
@media (hover: none) {
  .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 0;
  }
}
@media (){
    .card-img{
  
}
}
